[Unit]
Description=My Location

[Service]
User=arumami88
Environment="DISPLAY=:0.0"
Environment="XAUTHORITY=/home/arumami88/.Xauthority"
ExecStart=/usr/bin/python /home/arumami88/MyLocation/whereabout.py

[Install]
WantedBy=multi-user.target