[Unit]
Description=My Location

[Service]
User=imamura
Environment="DISPLAY=:0.0"
Environment="XAUTHORITY=/home/imamura/.Xauthority"
ExecStart=/usr/bin/python /home/imamura/MyLocation/whereabout.py

[Install]
WantedBy=multi-user.target